* {
	color: #113f67;
}
h1 {
	margin-top: 3%;
	margin-left: 7%;
}
h3 {
	margin-left: 7%;
}
.debrief {
	margin-top: 2rem;
	width: 50%;
	margin-left: 7%;
}
.githubLink a {
	position: absolute;
	top: 8%;
	right: 7%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 32px;
	transition: box-shadow 0.5s ease;
	/* transition: border 0s; */
}
.githubLink a:hover {
	cursor: pointer;
	border-radius: 32px;
	box-shadow: 0px 0px 10px 10px #a2a8d3;
}
.keyTitle {
	position: absolute;
	top: 37%;
	left: 7.5%;
	margin-top: 1rem;
	font-weight: 500;
}
.colorKey {
	position: absolute;
	top: 40%;
	left: 7%;
	display: flex;
	background-color: white;
	padding: 1rem;
	margin-top: 1rem;
	border-radius: 8px;
}
.keyItem1 {
	height: 25px;
	width: 25px;
	background-image: url(./assets/car.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.keyItem2 {
	height: 25px;
	width: 25px;
	background-image: url(./assets/home.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.keyItem3 {
	height: 25px;
	width: 25px;
	background-color: rgb(189, 124, 124);
}
.keyItem4 {
	height: 25px;
	width: 25px;
	background-color: rgb(99, 177, 99);
}
.keyItem5 {
	height: 25px;
	width: 25px;
	background-color: rgba(0, 190, 218, 0.75);
}
.keyItem6 {
	height: 25px;
	width: 25px;
	border: 1px solid rgb(197, 226, 248);
}
.itemDescription {
	margin-left: 10px;
	margin-right: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
